
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#pokedex {
    min-height: 55vh;
    /* background-color: #FB6C6C; */
    color: white;
    padding: 24px;
}

.pokedexInfoArea {
    position: fixed;
    top: 10%;
    left: 300px;
    right: 300px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    padding-bottom: 30px;
    min-height: 100px;
} 

#pokemonImg {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokedexHeadImg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pokedexHeadImg img {
    height: 30px;
}

nav {
   
}

nav ul {
    display: flex;
    list-style: none;
    padding: 16px;
    margin: 0;
    margin-left: 16px
}

ul li {
    margin-right: 20px;
}

.progressInfo {
    width: 300px;
    
}

.progress {
    height: 5px !important;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex p {
    margin: 4px;
    padding-left: 16px;
    width: 140px;
    color: rgba(0, 0, 0, 0.5);
    
}

.flex span {
    width: 50px;
}


#cards {
    height: 150px;
    width: 300px;
    border-radius: 16px;
    position: relative;
    margin: 6px;
    cursor: pointer;
}

#cards h2 {
    font-size: 20px !important; 
    padding-top: 20px;
    padding-left: 16px;
    color: white;
}

.pokemonType {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 16px;
    margin-bottom: 8px;
    border-radius: 16px;
    width: 100px;
    text-align: center;
    color: white;
}

.pokemonType b {
    font-size: 12px;
    font-weight: 500;
}

.pokemonTypeInfo {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 8px;
  border-radius: 16px;
  width: 100px;
  text-align: center;
  color: white;
}

.pokemonTypeInfo b {
  font-size: 12px;
  font-weight: 500;
}

.pokemonTypeSecond {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 16px;
    border-radius: 16px;
    width: 100px;
    text-align: center;
    color: white;
}

.pokemonTypeSecond b {
    font-size: 12px;
    font-weight: 500;
}

.pokemonTypeSecondInfo {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 100px;
  text-align: center;
  color: white;
}

.pokemonTypeSecondInfo b {
  font-size: 12px;
  font-weight: 500;
}

#pokemonNameCards {
    position: absolute;
    height: 120px;
    bottom: 12px;
    right: 20px;
}

#cardsArea {
    display: flex;
    flex-wrap: wrap;
}

.dNone {
    display: none !important;
}

.mg0 {
  margin: 0 !important;
}

.aboutSection {
  display: flex;
  gap: 30px;
  margin-left: 16px;
}

.aboutSection p {
  width: 100px;
}

.infoWidth {
  width: 200px !important;
}

#about {
  height: 200px;
}

#abilities {
  height: 200px;
}


.water {
    background-color: #75BEFE;
  }
  
  .fire {
    background-color: #FB6C6C;
  }
  
  .grass {
    background-color: #49D0B1;
  }

  .electric {
    background-color: #FFD76E;
  }

  .psychic {
    background-color: #794396;
  }

  .dark {
    background-color: #E0986A;
  }

  .normal {
    background-color: #CFCFC3;
  }

  .fighting {
    background-color: #CF887C;
  }
  
  .rock {
    background-color: #CFC393;
  }

  .poison {
    background-color: #B486DC;
  }

  .bug {
    background-color: #B1D369;
  }

  .fairy {
    background-color: #EE99AC;
  }

  .ice {
    background-color: #98D8D8;
  }

  .steel {
    background-color: #B7B8D0;
  }

  