
body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 32px !important;
  margin: 12px 0 !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  padding: 10px;
  font-size: 32px;
  margin: 0 30px;
}

header img {
  height: 50px;
  width: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 300px;
    display: flex;
    color: white;
    font-size: 20px;
    align-items: center;
}

 .songName {
  margin-left: 20px;
 }

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/5073414.jpg);
  background-size: cover;
  z-index: -1;
}

.cursor {
  cursor: pointer;
}

#loading-animation {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#loading-animation img {
  animation: spin 1s infinite linear;
  width: 150px;
  height: 150px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#search {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  outline: none;
}

#search::placeholder {
  color: #999;
}

#searchResponsive {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  outline: none;
}

#searchResponsive::placeholder {
  color: #999;
}

#inputField {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.flexLupe {
  display: flex !important;
  justify-content: flex-end;
  filter: invert(100%);
}

.flexLupe img {
  height: 30px;
  width: 30px;
}

.pokedexLogo {
  height: 100px;
  width: 200px;
  margin: 0 auto;
}

#pokedex {
    min-height: 55vh;
    color: white;
    padding: 24px;
    border-radius: 16px;
}

.pokedexInfoArea {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.info-container {
    background-color: white;
    border-radius: 40px 40px 16px 16px;
    margin-top: -40px;
    padding-bottom: 30px;
    min-height: 300px;
    width: 600px;
    padding: 16px 32px;
} 

#pokemonImg {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.pokedexHeadImg {
    display: flex;
    justify-content: space-between;
}

.pokedexHeadImg img {
    height: 40px;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: -2px;
}

ul li {
    margin-right: 20px;
    cursor: pointer;
    z-index: 1;
}

.active {
  border-bottom: 2px solid black;
}

.padding {
  padding: 0 4px 3px 4px;
}

.padding:hover {
  border-bottom: 2px solid black;
}

.progressInfo {
    width: 300px;
}

.progress {
    height: 5px !important;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex p {
    margin: 4px;
    width: 140px;
}

.flex span {
    width: 50px;
}

#cards {
    height: 150px;
    width: 300px;
    border-radius: 16px;
    position: relative;
    margin: 6px;
    cursor: pointer;
}

#cards:hover #pokemonNameCards  {
  transform: scale(1.2) !important;
  transition: transform 0.3s ease-in-out;
}

.pokeballImg {
  height: 130px;
  position: absolute;
  right: 20px;
  bottom: 12px;
  opacity: 0.2;
}

#cards h2 {
    font-size: 20px !important; 
    padding-top: 20px;
    padding-left: 16px;
    color: white;
}

.pokemonType {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 16px;
    margin-bottom: 8px;
    border-radius: 16px;
    width: 100px;
    text-align: center;
    color: white;
}

.pokemonType b {
    font-size: 12px;
    font-weight: 500;
}

.pokemonTypeInfo {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 8px;
  border-radius: 16px;
  width: 100px;
  text-align: center;
  color: white;
}

.pokemonTypeInfo b {
  font-size: 14px;
  font-weight: 500;
}

.pokemonTypeSecond {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 16px;
    border-radius: 16px;
    width: 100px;
    text-align: center;
    color: white;
}

.pokemonTypeSecond b {
    font-size: 12px;
    font-weight: 500;
}

.pokemonTypeSecondInfo {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 100px;
  text-align: center;
  color: white;
}

.pokemonTypeSecondInfo b {
  font-size: 14px;
  font-weight: 500;
}

#pokemonNameCards {
    position: absolute;
    height: 120px;
    bottom: 12px;
    right: 20px;
}

#cardsArea {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.dNone {
    display: none !important;
}

.mg0 {
  margin: 0 !important;
}

.aboutSection {
  display: flex;
  gap: 30px;
}

.aboutSection p {
  width: 100px;
}

.infoWidth {
  width: 250px !important;
}

#moves {
  max-height: 200px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

#moves p {
  margin: 4px;
  padding: 4px 12px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movesCards {
  height: 35px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay-visible {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#pokemonNumber {
  position: absolute;
  left: 50%;
  top: 44px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#pokemonBackgroundImg {
  height: 240px;
  width: 240px;
  background-image: url('./img/pokeball_bg.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 180px;
  left: 180px;
  opacity: 0.2;
  transform: scale(1.5) !important;
}


.linkerPfeil {
  height: 50px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 30px;
  filter: invert(100%);
  z-index: 10;
}

.rechterPfeil {
  height: 50px;
  padding: 10px;
  position: absolute;
  top: 50%;
  right: 30px;
  filter: invert(100%);
  z-index: 10;
}

.imghover:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

#loadMoreBtn {
  display: none;
  justify-content: center;
  margin: 16px;
  position: relative;
}

#loadMoreBtn button {
  margin: 8px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#loadMoreBtn button:hover {
background-color: #45a049;
}

.parent-container {
  position: relative;
  top: -155px;
}

.fixed {
  position: fixed;
}

.goUp {
  height: 44px;
  width: 44px;
  position:  absolute;
  right: 5%;
  margin: 8px;
  cursor: pointer;
}
  
  /*---------- Button visit Site ----------*/

  .musicConfirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .musicConfirmation h3 {
    margin-bottom: 16px;
  }
  
  .buttonContainer {
    display: flex;
  }
  
  .buttonContainer button {
    margin: 8px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttonContainer button:hover {
    background-color: #45a049;
  }

  /*---------- Zoom Img ----------*/

  .zoomed {
    animation: zoomAnimation 1s infinite alternate;
  }
  
  @keyframes zoomAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  /*---------- Card Background ----------*/

.water {
  background: linear-gradient(to bottom right, #75BEFE, #B0D9FF);
  }
  
  .fire {
    background: linear-gradient(to bottom right, #FB6C6C, #FFC3A0);
  }
  
  .grass {
    background: linear-gradient(to right, #49d0b1, #007f7b);
  }

  .electric {
    background: linear-gradient(to bottom right, #FFD76E, #FFEFB9);
  }
  
  .psychic {
    background: linear-gradient(to bottom right, #FD86E4, #6E3C86);
  }  
  
  .dark {
    background: linear-gradient(to bottom right, #E0986A, #F0BBA6);
  }
  
  .normal {
    background: linear-gradient(to bottom right, #CFCFC3, #E8E8E8);
  }
  
  .fighting {
    background: linear-gradient(to bottom right, #CF887C, #F0B3A8);
  }
  
  .rock {
    background: linear-gradient(to bottom right, #CFC393, #E3DAAA);
  }
  
  .poison {
    background: linear-gradient(to bottom right, #B486DC, #D5A4E5);
  }
  
  .bug {
    background: linear-gradient(to bottom right, #B1D369, #D3E494);
  }
  
  .fairy {
    background: linear-gradient(to bottom right, #EE99AC, #F4C4D1);
  }
  
  .ice {
    background: linear-gradient(to bottom right, #98D8D8, #C6F4F4);
  }
  
  .steel {
    background: linear-gradient(to bottom right, #B7B8D0, #D5D6E3);
  }

  .ground {
    background: linear-gradient(to bottom right, #F5D7B5, #DDAC84);
  }

  .ghost {
    background: linear-gradient(to bottom right, #F6C9E5, #9C73B3);
  }

  .dragon {
    background: linear-gradient(to bottom right, #AFA0F6, #7C63E7);
  }